body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-color: #FFF;
    font-size: 19px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.my-table {
    max-width: 860px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

.my-table th, .my-table td {
    padding: 15px;
    border: 1px solid #D1D1D1;
}

.my-table thead {
    background-color: #3598DB;
    color: #FFF;
}

.my-table tbody tr:nth-child(odd) {
    background-color: #EEE;
}

.first-name {
    width: 175px;
}

.last-name {
    width: 175px;
}

.job-title {
    width: 310px;
}

.twitter {
    width: 200px;
}