.root {
    font-family: "Open Sans", serif;
    font-weight: 500;
    background-color: #FFF;
    font-size: 19px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.my-table {
    max-width: 860px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 15px;
    border: 1px solid #D1D1D1;
}

thead {
    background-color: #3598DB;
    color: #FFF;
}

tbody > tr:nth-child(odd) {
    background-color: #EEE;
}

.column1 {
    width: 175px;
}

.column2 {
    width: 175px;
}

.column3 {
    width: 310px;
}

.column4 {
    width: 200px;
}