body {
    font-family: "Verdanda", sans-serif;
    background-color: white;
    font-size: 17px;
    color: #696665;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-box {
    margin: 20px auto;
    padding: 10px;
    background-color: #FEEED6;
    max-width: 848px;
}

.header {
    text-transform: uppercase;
    font-weight: 100;
}

.text-box {
    padding: 5px 0 0 0;
    margin: 0;
    text-indent: 15px;
    text-align: justify;
    line-height: 1.5;
}

.condition-box {
    padding: 10px 0 0 0;
}

.condition-text {
    font-weight: bold;
    color: #378DB3;
    text-align: justify;
}

.strikethrough-text {
    text-decoration: line-through;
    text-align: justify;
}