body {
    font-family: "Verdanda", sans-serif;
    background-color: #FFF;
    color: #98918B;
    font-size: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-div {
    margin: auto;
    max-width: 843px;
}

.header {
    margin: auto;
    color: #67656B;
    font-weight: 100;
    font-size: 2em;
}

.request-form {
    background-color: #FEEED6;
    font-weight: normal;
    padding: 20px;
    overflow: hidden;
}

.input-label {
    display: inline-block;
    font-weight: bold;
    color: #676565;
    margin-bottom: 10px;
}

.text-input {
    padding: 10px;
    border-style: none;
    width: 100%;
    margin-bottom: 20px;
}

.text-input::placeholder {
    color: #999999;
}

.comment-text-area::placeholder {
    color: #999999;
}

.comment-text-area {
    padding: 10px;
    border-style: none;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    resize: vertical;
}

.send-button {
    float: right;
    font-weight: bold;
    background-color: #378DB2;
    border: none;
    color: #FFF;
    padding: 10px;
}

.send-button:hover {
    background-color: #32728D;
    cursor: pointer;
}